@media (max-width: 767px) {
    .italsoft--xs-hidden { display: none; }
}

@media (min-width: 768px) and (max-width: 991px) {
    .italsoft--sm-hidden { display: none; }
}

@media (min-width: 992px) and (max-width: 1365px) {
    .italsoft--md-hidden { display: none; }
}

@media (min-width: 1366px) {
    .italsoft--lg-hidden { display: none; }
}