# To change this template, choose Tools | Templates
# and open the template in the editor.

# Properties definining the GUI
#user = t11111
#password = infocam1
#wsdlUrl=http://suapcl.impresainungiorno.gov.it/dispatcher/ws/EsportaPraticaSuap?wsdl
user = TX6RWS
password = GMG8I1MI
wsdlUrl=https://www.impresainungiorno.gov.it/dispatcher/ws/EsportaPraticaSuap?wsdl