/*#tipo{
    background-color:white;
    background:white;
    font-family:sans-serif,tahoma;
    margin:0px;
    padding:0px;
    color: red;
    font-size: 1.1em;
}*/

#Aggregato{
    background-color:white;
    background:white;
    font-family:sans-serif,tahoma;
    margin:0px;
    padding:0px;
    color: red;
    font-size: 1.1em;
}

.motivoObl{
    font-size: 20px;
    color:red;
    text-decoration: underline;
}


.labelForm{
    font-family:sans-serif,tahoma;
    font-size: 1.1em;
    width: 100px;
    display: inline-block;
    text-align:right;
    margin-left:4px;
    margin-top:4px;
}

.label{
    font-size: 15px;
    font-family: sans-serif;
    color:red;

}

.divButtonScelta {
    margin-left:350px;
}

.textArea{
    border:1px solid black;
}

.divMail{
    vertical-align: middle;
}
.divImg{
    display: inline-block;
    vertical-align: middle;
}
.divSpan{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;

}

.ritorna{
    font-size: 20px;

}
