html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width:100%;
    height:100%;
}

#main {
    height: 100%;
	overflow: auto;
}

.treegrid-indent {
    width: 0px;
    height: 16px;
    display: inline-block;
    position: relative;
}
.treegrid-expander {
    width: 0px;
    height: 16px;
    display: inline-block;
    position: relative;
    left: -8px;
    cursor: pointer;
}

td.dictionary-element {
    cursor: pointer;
}

td.dictionary-parent {
    font-weight: bold;
}

table th, table td {
    font-size: 12px;
    word-break: break-all;
}

[data-level="3"] td { padding-left: 25px !important; }