/* 
    Document   : accValidate
    Created on : 19-gen-2015, 12.42.40
    Author     : Gianpietro
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v11/BVtM30trf7q_jfqYeHfjtA.woff) format('woff');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v11/oUan5VrEkpzIazlUe5ieaA.woff) format('woff');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 700;
	src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYED8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

#accValidateController {
	background-color: #252527;
	color: #eee;
	font-family: 'Lato',sans-serif !important;
}

#accValidateController * {
	box-sizing: border-box;
}

#accValidateController .spid-idp-button-link img { box-sizing: content-box; }

#accValidateController a {
	color: #76daff;
	text-decoration: none;
}

#accValidateController a:hover {
	color: #fff;
}

#accValidateController h1,
#accValidateController h2,
#accValidateController h3,
#accValidateController h4,
#accValidateController h5,
#accValidateController h6 { font-weight: bold; color: #fff; }
#accValidateController h1 { font-size: 4em; }
#accValidateController h2 { font-size: 3em; }
#accValidateController h3 { font-size: 2em; }
#accValidateController h4 { font-size: 1em; }
#accValidateController h5 { font-size: .9em; }
#accValidateController h6 { font-size: .8em; }

#accValidateController .ita-field { width: 100%; }

#accValidateController input[type="name"],
#accValidateController input[type="text"],
#accValidateController input[type="email"],
#accValidateController input[type="password"],
#accValidateController input[type="search"],
#accValidateController input[type="url"],
#accValidateController input[type="number"],
#accValidateController textarea,
#accValidateController select {
    background: linear-gradient(#ccc, #fff) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#accValidateController input[type="name"]:focus,
#accValidateController input[type="text"]:focus,
#accValidateController input[type="email"]:focus,
#accValidateController input[type="password"]:focus,
#accValidateController input[type="search"]:focus,
#accValidateController input[type="url"]:focus,
#accValidateController input[type="number"]:focus,
#accValidateController textarea:focus,
#accValidateController select:focus {
    background: #fff;
}

#accValidateController label { float: none; text-align: left; margin-bottom: 2px; }
#accValidateController input, #accValidateController select { padding: 8px; border-radius: 0; font-size: 1.3em; margin-bottom: 10px; }
#accValidateController input[type="checkbox"] { margin-top: 3px; }

#accValidateController iframe { width: 100%; height: 99%; }

#accValidateController #accLogin2015_ricordami_lbl { float: left; }

#accValidateController button.ita-button {
	padding: 12px 16px;
	background: linear-gradient(#81e058, #187a14) repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #fff;
	border: 1px solid black;
    border-radius: 5px;
	cursor: pointer;
	vertical-align: middle;
}

#accValidateController button.ita-button:hover {
	background: linear-gradient(#a1e883, #21a61b) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#accValidateController button.ita-button:active {
	transform: translateY(1px);
}

#accValidateController #accLogin2015_passwordLost {
	color: #333;
}

#accValidateController input,
#accValidateController select { border-color: #ddd; }

#accValidateController #accValidate_mainDiv {
	height: calc(100% - 40px); /* @footerheight */
	overflow: auto;
}

#accValidateController #accValidate_headerForm,
#accValidateController #accValidate_leftForm,
#accValidateController #accValidate_rightForm,
#accValidateController #accValidate_loginForm,
#accValidateController #accValidate_bottomForm {
	text-align: initial;
}

#accValidateController #accValidate_headerForm {
	padding-top: 20px;
	width: 100%; 
	min-height: 80px;
	box-sizing: border-box;
	text-align: center;
	margin-bottom: 12px;
}

#accValidateController #accValidate_headerForm img {
	max-height: 200px;
}

#accValidateController #accValidate_leftForm, #accValidateController #accValidate_rightForm, #accValidateController #accValidate_loginForm {
	height: 520px;
	overflow: auto;
	border: 2px solid rgba(70, 160, 40, .8);
	border-radius: 4px;
	float: left;
}

#accValidateController #accValidate_leftForm, #accValidateController #accValidate_rightForm {
	width: 24%;
	padding: 10px;
}

#accValidateController #accValidate_leftForm {
	margin-left: 1%;
}

#accValidateController #accValidate_rightForm {
	margin-right: 1%;
}

#accValidateController #accValidate_loginForm {
	width: 48%;
	padding: 0 15px;
	margin: 0 1%;
}

#accValidateController #accValidate_bottomForm {
	background: linear-gradient(#505050, #383838) repeat scroll 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 1px 0 #6e6e6e inset, 0 2px 2px rgba(0, 0, 0, 0.4);
	border-top: 1px solid black;
	font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Sans-Serif;
	height: 40px; /* @footerheight */
	position: fixed;
	bottom: 0; 
	left: 0; 
	width: 100%; 
	padding: 10px 15px 0; 
	color: #999; 
	background-color: #444; 
	box-sizing: border-box;
}

#accValidateController .inner-register {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
	padding: 20px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 #000 inset;
	text-align: center;
}

#accValidateController #accValidate_bottomForm a {
	color: #ccc;
	text-decoration: none;
}

#accValidateController #accValidate_bottomForm a:hover {
	color: #fff;
}

#accValidateController #accValidate_bottomForm em {
	font-style: italic;
}

#accValidateController #accValidate_bottomForm #accBottomBar_links a {
	display: inline-block;
	margin: 0 5px;
}