#desktopBody {
    height: 100%;
    overflow-y: auto;
}

.ita-data-page {
    padding: 15px;
}

.ui-input-text {
    display: inline-block;
    margin: 0px;
}

.ui-select {
    margin: 0px;
    display: inline-block;
}

label.sx {
    display: block;
    padding-top: 10px;
    text-align: left;
    vertical-align: top;
}

label.dx {
    display: block;
    float: right;
}

label.top {
    display: block;
}

label.bot {
    display: block;
}

.ita-field {
    margin: 2px;
    padding: 3px;
    display: inline-block;
    vertical-align: middle;
}

.ita-field > label {
    margin: 0;
}

.ita-field ~ .ui-icon {
    margin: 14px .3em 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input.ita-readonly, textarea.ita-readonly, select.ita-readonly {
    background-color: lightyellow;
    color: #777;
}

.ita-header {
    margin: 10px auto 4px;
}

/*.ita-field {
    float: left;
    width: 50%;
    clear: none;
}

br { clear: both; }

.ui-field-contain {
    border-bottom-width: 0;
}*/


.ita-button-right{
    /*margin-left: 0px;*/
}

.ita-button-left{
    /*margin-right: 0px;*/
}

.ita-button , .ita-button-validate , .ita-button-client{
    cursor:url;
    margin:2px;
    position:relative;
    vertical-align: bottom;
    padding: 8px 12px;
}


.ita-button-icon-left {
    margin: 0px;
    float: left;
}

.ita-button-text{
    float: left;
    margin: 1px; 
}

.ita-button-text-content {
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

.ita-button-icon-rigth {
    margin: 0px;
    float: left;
}

.ita-box, .ita-box-error, .ita-box-highlight {
    position: relative;
    padding: 10px 10px 8px;
    margin: 8px 2px;
}

.ita-box-error {
    background-color: #fef6f3;
    border-color: #cd0a0a;
    color: #cd0a0a;
}

.ita-box-highlight {
    background-color: #fbec88;
    border-color: #fad42e;
}

.ita-icon-right {
    float: right;
    margin-left: 10px;
    margin-top: 4px;
}

.ui-btn-icon-notext {
    border-width: 0;
}

.ita-hidden {
    display: none;
}

/* FIX DATEPICKER */
.ui-datepicker.ui-widget {
    z-index: 100 !important;
}

#ita-mobile-home-toolbar {
    padding: 10px 0;
}
#ita-mobile-home-toolbar > h3 {
    padding: 10px 40px;
}
#ita-mobile-home-toolbar div.ui-btn-left, #ita-mobile-home-toolbar div.ui-btn-right {
    margin-top: 3px !important;
}
#ita-mobile-home-toolbar .ui-btn {
    margin-top: 9px;
}

.ita-layout-center { width: 100% !important; }

/* GRIDS */
.ita-jqGrid {
    border-radius: 6px;
    border-width: 0;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    margin-bottom: 15px;
}

.ui-title.ui-body.ui-body-a.ui-corner-all[role="heading"] {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 37%, rgba(234,234,234,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(37%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 37%,rgba(234,234,234,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 37%,rgba(234,234,234,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 37%,rgba(234,234,234,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 37%,rgba(234,234,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
}

.ita-jqGrid #multiselect { width: 20px; }

.ita-jqGrid > thead > tr > th:first-child { border-radius: 6px 0 0 0; }
.ita-jqGrid > thead > tr > th:last-child { border-radius: 0 6px 0 0; }
.ita-jqGrid > thead > tr > th:only-child { border-radius: 6px 6px 0 0; }
.ita-jqGrid > thead > tr > th { background-color: #5c9ccc; color: #fff; text-shadow: 0 1px 0 #444444; }
.ita-jqGrid th, .ita-jqGrid td { vertical-align: middle; }

.ita-jqGrid td, th { border-left: 1px solid rgba(0,0,0,.1); }
.ita-jqGrid td:first-child, th:first-child { border-left: 0; }
.ita-jqGrid .ita-grid-selected, .ita-grid-selected td { background-color: #fbec88 !important; }

.tfoot-icons { float: left; margin-left: 10px; }
.tfoot-paginator { float: left; text-align: center; }
.tfoot-text { float: right; line-height: 3em; font-weight: normal; margin-right: 10px; }

.ita-jqGrid #baseRow { height: 1px; visibility: hidden; }
.ita-jqGrid #baseRow td { height: 0px; padding: 0; display: none; }
.ita-jqGrid #baseRow td > * { display: none; }

.ita-jqGrid thead tr .caption { text-align: center; font-weight: bold; border-bottom: 1px solid rgba(0,0,0,.1); }
.ita-jqGrid tbody .sort-arr { display: none; }
.ita-jqGrid tbody td { min-height: 40px; }

.ita-jqGrid tbody .ui-table-cell-label > input { display: none; }
.ita-jqGrid tfoot .ui-table-cell-label { display: none; }
.ita-jqGrid tfoot td { padding: 0; }

.ita-jqGrid.ita-jqGrid-fullsize { border-radius: 0; }
.ita-jqGrid.ita-jqGrid-fullsize > thead > tr > th { border-radius: 0 !important; }
.ita-jqGrid.hide-headers thead { display: none; }

[data-itaicon="mini"] {
    width: 1.25em !important; height: 1.25em !important;
    margin-top: -3px !important; margin-bottom: 0 !important;
}

[data-itaicon="mini"]:after {
    background-size: 45%;
    margin-top: -9px !important; margin-left: -9px !important;
    width: 18px !important; height: 18px !important;
}


.ui-autocomplete {
    background: #fff;
    border: solid 1px #a6c9e2;
    list-style: none;
    margin: 0;
    padding: 3px;
    border-radius: .6em /*{global-radii-blocks}*/;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-autocomplete .ui-menu-item {
    padding: 5px;
    border-radius: .5em /*{global-radii-blocks}*/;
    width: 100%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}

.ui-autocomplete .ui-menu-item:hover {
    border-color: #a6c9e2;
    background-color: #eaf4fd;
    margin: 0;
}

.ita-fixed {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px 15px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.ui-popup .ita-mobile-buttonbar-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.ui-mobile label {
    font-size: inherit;
}

/*.ita-menu-grid-color-1 {
    color: #ffffff !important;
    background-color: #b9d0f2;
}

.ita-menu-grid-color-2 {
    color: #ffffff !important;
    background-color: #85b9e1;
}

.ita-menu-grid-color-3 {
    color: #ffffff !important;
    background-color: #5c9bcc;
}

.ita-menu-grid-color-4 {
    color: #ffffff !important;
    background-color: #3c90b5;
}

.ita-menu-grid-color-5 {
    color: #ffffff !important;
    background-color: #1f68a0;
}*/

/* MEDIA QUERIES */

@media (min-width: 768px) {
}

/*  itaEngine Icons Classes */
.ita-icon:after { display: inline-block; vertical-align: middle; content: ''; }
.ui-icon-ita-icon:after { width: 22px !important; height: 22px !important; }
.ita-icon-flag-it-16x16:after {width: 16px; height: 16px; background-image: url("./images/flag-it-16x16.png");}
.ita-icon-flag-it-24x24:after {width: 24px; height: 24px; background-image: url("./images/flag-it-24x24.png");}
.ita-icon-flag-eu-128x128:after {width: 128px; height: 128px; background-image: url("./images/flag-eu-128x128.png");}
.ita-icon-flag-eu-64x64:after {width: 64px; height: 64px; background-image: url("./images/flag-eu-64x64.png");}
.ita-icon-flag-eu-24x24:after {width: 24px; height: 24px; background-image: url("./images/flag-eu-24x24.png");}
.ita-icon-flag-eu-32x32:after {width: 32px; height: 32px; background-image: url("./images/flag-eu-32x32.png");}
.ita-icon-flag-it-32x32:after {width: 32px; height: 32px; background-image: url("./images/flag-it-32x32.png");}
.ita-icon-flag-it-64x64:after {width: 64px; height: 64px; background-image: url("./images/flag-it-64x64.png");}
.ita-icon-transferlr-32x32:after {width: 32px; height: 32px; background-image: url("./images/transferlr-32x32.png");}
.ita-icon-transferlr-64x64:after {width: 64px; height: 64px; background-image: url("./images/transferlr-64x64.png");}
.ita-icon-transferlr-24x24:after {width: 24px; height: 24px; background-image: url("./images/transferlr-24x24.png");}
.ita-icon-transferlr-16x16:after {width: 16px; height: 16px; background-image: url("./images/transferlr-16x16.png");}
.ita-icon-flag-it-128x128:after {width: 128px; height: 128px; background-image: url("./images/flag-it-128x128.png");}
.ita-icon-flag-eu-16x16:after {width: 16px; height: 16px; background-image: url("./images/flag-eu-16x16.png");}
.ita-icon-evidenzia-128x128:after {width: 128px; height: 128px; background-image: url("./images/evidenzia-128x128.png");}
.ita-icon-lock-128x128:after {width: 128px; height: 128px; background-image: url("./images/lock-icon-128x128.png");}
.ita-icon-lock-64x64:after {width: 64px; height: 64px; background-image: url("./images/lock-icon-64x64.png");}
.ita-icon-mail-green-verify-128x128:after {width: 128px; height: 128px; background-image: url("./images/mail-green-verify-128x128.png");}
.ita-icon-mail-green-verify-64x64:after {width: 64px; height: 64px; background-image: url("./images/mail-green-verify-64x64.png");}
.ita-icon-mail-green-verify-32x32:after {width: 32px; height: 32px; background-image: url("./images/mail-green-verify-32x32.png");}
.ita-icon-lock-32x32:after {width: 32px; height: 32px; background-image: url("./images/lock-icon-32x32.png");}
.ita-icon-lock-24x24:after {width: 24px; height: 24px; background-image: url("./images/lock-icon-24x24.png");}
.ita-icon-evidenzia-32x32:after {width: 32px; height: 32px; background-image: url("./images/evidenzia-32x32.png");}
.ita-icon-evidenzia-64x64:after {width: 64px; height: 64px; background-image: url("./images/evidenzia-64x64.png");}
.ita-icon-evidenzia-24x24:after {width: 24px; height: 24px; background-image: url("./images/evidenzia-24x24.png");}
.ita-icon-evidenzia-16x16:after {width: 16px; height: 16px; background-image: url("./images/evidenzia-16x16.png");}
.ita-icon-lock-16x16:after {width: 16px; height: 16px; background-image: url("./images/lock-icon-16x16.png");}
.ita-icon-transferlr-128x128:after {width: 128px; height: 128px; background-image: url("./images/transferlr-128x128.png");}
.ita-icon-File-Ext-32x32:after {width: 32px; height: 32px; background-image: url("./images/document-32x32.png");}
.ita-icon-shield-green-64x64:after {width: 64px; height: 64px; background-image: url("./images/shield-green-64x64.png");}
.ita-icon-shield-green-128x128:after {width: 128px; height: 128px; background-image: url("./images/shield-green-128x128.png");}
.ita-icon-shield-green-32x32:after {width: 32px; height: 32px; background-image: url("./images/shield-green-32x32.png");}
.ita-icon-shield-green-24x24:after {width: 24px; height: 24px; background-image: url("./images/shield-green-24x24.png");}
.ita-icon-group-16x16:after {width: 16px; height: 16px; background-image: url("./images/Group-16x16.png");}
.ita-icon-shield-green-16x16:after {width: 16px; height: 16px; background-image: url("./images/shield-green-16x16.png");}
.ita-icon-shield-red-16x16:after {width: 16px; height: 16px; background-image: url("./images/shield-red-16x16.png");}
.ita-icon-shield-red-24x24:after {width: 24px; height: 24px; background-image: url("./images/shield-red-24x24.png");}
.ita-icon-shield-grey-16x16:after {width: 16px; height: 16px; background-image: url("./images/shield-grey-16x16.png");}
.ita-icon-shield-grey-24x24:after {width: 24px; height: 24px; background-image: url("./images/shield-grey-24x24.png");}
.ita-icon-shield-red-128x128:after {width: 128px; height: 128px; background-image: url("./images/shield-red-128x128.png");}
.ita-icon-shield-red-64x64:after {width: 64px; height: 64px; background-image: url("./images/shield-red-64x64.png");}
.ita-icon-shield-red-32x32:after {width: 32px; height: 32px; background-image: url("./images/shield-red-32x32.png");}
.ita-icon-group-32x32:after {width: 32px; height: 32px; background-image: url("./images/Group-32x32.png");}
.ita-icon-user-16x16:after {width: 16px; height: 16px; background-image: url("./images/User-16x16.png");}
.ita-icon-File-Ext-xml-32x32:after {width: 32px; height: 32px; background-image: url("./images/File-Extension-Xml-32x32.png");}
.ita-icon-File-Ext-jpg-32x32:after {width: 32px; height: 32px; background-image: url("./images/File-Extension-Jpg-32x32.png");}
.ita-icon-File-Ext-doc-32x32:after {width: 32px; height: 32px; background-image: url("./images/File-Extension-Doc-32x32.png");}
.ita-icon-File-Ext-pdf-32x32:after {width: 32px; height: 32px; background-image: url("./images/File-Extension-Pdf-32x32.png");}
.ita-icon-File-Ext-eml-32x32:after {width: 32px; height: 32px; background-image: url("./images/File-Extension-Eml-32x32.png");}
.ita-icon-File-Ext-p7m-32x32:after {width: 32px; height: 32px; background-image: url("./images/File-Extension-P7m-32x32.png");}
.ita-icon-File-Ext-p7s-32x32:after {width: 32px; height: 32px; background-image: url("./images/File-Extension-P7s-32x32.png");}
.ita-icon-File-Ext-zip-32x32:after {width: 32px; height: 32px; background-image: url("./images/File-Extension-Zip-32x32.png");}
.ita-icon-user-32x32:after {width: 32px; height: 32px; background-image: url("./images/User-32x32.png");}
.ita-icon-File-Ext-csv-32x32:after {width: 32px; height: 32px; background-image: url("./images/File-Extension-Csv-32x32.png");}
.ita-icon-File-Ext-xls-32x32:after {width: 32px; height: 32px; background-image: url("./images/File-Extension-Xls-32x32.png");}
.ita-icon-File-Ext-txt-32x32:after {width: 32px; height: 32px; background-image: url("./images/File-Extension-Txt-32x32.png");}
.ita-icon-mail-green-verify-24x24:after {width: 24px; height: 24px; background-image: url("./images/mail-green-verify-24x24.png");}
.ita-icon-mail-green-verify-16x16:after {width: 16px; height: 16px; background-image: url("./images/mail-green-verify-16x16.png");}
.ita-icon-testobase-32x32:after {width: 32px; height: 32px; background-image: url("./images/testobase-32x32.jpg");}
.ita-icon-add-16x16:after {width: 16px; height: 16px; background-image: url("./images/add-16x16.png");}
.ita-icon-winzip-128x128:after {width: 128px; height: 128px; background-image: url("./images/winzip-128x128.jpg");}
.ita-icon-winzip-64x64:after {width: 64px; height: 64px; background-image: url("./images/winzip-64x64.jpg");}
.ita-icon-winzip-24x24:after {width: 24px; height: 24px; background-image: url("./images/winzip-24x24.png");}
.ita-icon-winzip-32x32:after {width: 32px; height: 32px; background-image: url("./images/winzip-32x32.jpg");}
.ita-icon-add-24x24:after {width: 24px; height: 24px; background-image: url("./images/add-24x24.png");}
.ita-icon-add-32x32:after {width: 32px; height: 32px; background-image: url("./images/add-32x32.png");}
.ita-icon-delete-24x24:after {width: 24px; height: 24px; background-image: url("./images/delete-24x24.png");}
.ita-icon-delete-32x32:after {width: 32px; height: 32px; background-image: url("./images/delete-32x32.png");}
.ita-icon-delete-16x16:after {width: 16px; height: 16px; background-image: url("./images/delete-16x16.png");}
.ita-icon-add-128x128:after {width: 128px; height: 128px; background-image: url("./images/add-128x128.png");}
.ita-icon-add-64x64:after {width: 64px; height: 64px; background-image: url("./images/add-64x64.png");}
.ita-icon-winzip-16x16:after {width: 16px; height: 16px; background-image: url("./images/winzip-16x16.jpg");}
.ita-icon-tools-128x128:after {width: 128px; height: 128px; background-image: url("./images/tools-128x128.png");}
.ita-icon-power-64x64:after {width: 64px; height: 64px; background-image: url("./images/power-64x64.png");}
.ita-icon-power-128x128:after {width: 128px; height: 128px; background-image: url("./images/power-128x128.png");}
.ita-icon-power-32x32:after {width: 32px; height: 32px; background-image: url("./images/power-32x32.png");}
.ita-icon-power-24x24:after {width: 24px; height: 24px; background-image: url("./images/power-24x24.png");}
.ita-icon-user-key-16x16:after {width: 16px; height: 16px; background-image: url("./images/user-key-16x16.png");}
.ita-icon-user-key-24x24:after {width: 24px; height: 24px; background-image: url("./images/user-key-24x24.png");}
.ita-icon-tools-32x32:after {width: 32px; height: 32px; background-image: url("./images/tools-32x32.png");}
.ita-icon-tools-64x64:after {width: 64px; height: 64px; background-image: url("./images/tools-64x64.png");}
.ita-icon-user-key-128x128:after {width: 128px; height: 128px; background-image: url("./images/user-key-128x128.png");}
.ita-icon-user-key-64x64:after {width: 64px; height: 64px; background-image: url("./images/user-key-64x64.png");}
.ita-icon-user-key-32x32:after {width: 32px; height: 32px; background-image: url("./images/user-key-32x32.png");}
.ita-icon-delete-64x64:after {width: 64px; height: 64px; background-image: url("./images/delete-64x64.png");}
.ita-icon-delete-128x128:after {width: 128px; height: 128px; background-image: url("./images/delete-128x128.png");}
.ita-icon-mail-tamper-24x24:after {width: 24px; height: 24px; background-image: url("./images/mail-tamper-24x24.png");}
.ita-icon-mail-tamper-32x32:after {width: 32px; height: 32px; background-image: url("./images/mail-tamper-32x32.png");}
.ita-icon-mail-tamper-16x16:after {width: 16px; height: 16px; background-image: url("./images/mail-tamper-16x16.png");}
.ita-icon-unlock-16x16:after {width: 16px; height: 16px; background-image: url("./images/unlock-16x16.png");}
.ita-icon-unlock-32x32:after {width: 32px; height: 32px; background-image: url("./images/unlock-32x32.png");}
.ita-icon-unlock-24x24:after {width: 24px; height: 24px; background-image: url("./images/unlock-24x24.png");}
.ita-icon-mail-tamper-64x64:after {width: 64px; height: 64px; background-image: url("./images/mail-tamper-64x64.png");}
.ita-icon-mail-tamper-128x128:after {width: 128px; height: 128px; background-image: url("./images/mail-tamper-128x128.png");}
.ita-icon-mail-verify-64x64:after {width: 64px; height: 64px; background-image: url("./images/mail-verify-64x64.png");}
.ita-icon-mail-verify-128x128:after {width: 128px; height: 128px; background-image: url("./images/mail-verify-128x128.png");}
.ita-icon-mail-verify-32x32:after {width: 32px; height: 32px; background-image: url("./images/mail-verify-32x32.png");}
.ita-icon-mail-verify-24x24:after {width: 24px; height: 24px; background-image: url("./images/mail-verify-24x24.png");}
.ita-icon-mail-verify-16x16:after {width: 16px; height: 16px; background-image: url("./images/mail-verify-16x16.png");}
.ita-icon-unlock-64x64:after {width: 64px; height: 64px; background-image: url("./images/unlock-64x64.png");}
.ita-icon-unlock-128x128:after {width: 128px; height: 128px; background-image: url("./images/unlock-128x128.png");}
.ita-icon-portrait-32x32:after {width: 32px; height: 32px; background-image: url("./images/portraitdoc-32x32.png");}
.ita-icon-portrait-16x16:after {width: 16px; height: 16px; background-image: url("./images/portraitdoc-16x16.png");}
.ita-icon-portrait-64x64:after {width: 64px; height: 64px; background-image: url("./images/portraitdoc-64x64.png");}
.ita-icon-portrait-128x128:after {width: 128px; height: 128px; background-image: url("./images/portraitdoc-128x128.png");}
.ita-icon-key-24x24:after {width: 24px; height: 24px; background-image: url("./images/key-24x24.gif");}
.ita-icon-landscape-128x128:after {width: 128px; height: 128px; background-image: url("./images/landscapedoc-128x128.png");}
.ita-icon-landscape-64x64:after {width: 64px; height: 64px; background-image: url("./images/landscapedoc-64x64.png");}
.ita-icon-ftp-64x64:after {width: 64px; height: 64px; background-image: url("./images/ftp-icon-64x64.png");}
.ita-icon-ftp-128x128:after {width: 128px; height: 128px; background-image: url("./images/ftp-icon-128x128.png");}
.ita-icon-ftp-32x32:after {width: 32px; height: 32px; background-image: url("./images/ftp-icon-32x32.png");}
.ita-icon-firmato-32x32:after {width: 32px; height: 32px; background-image: url("./images/firmato-32x32.png");}
.ita-icon-landscape-32x32:after {width: 32px; height: 32px; background-image: url("./images/landscapedoc-32x32.png");}
.ita-icon-shield-grey-32x32:after {width: 32px; height: 32px; background-image: url("./images/shield-grey-32x32.png");}
.ita-icon-shield-grey-64x64:after {width: 64px; height: 64px; background-image: url("./images/shield-grey-64x64.png");}
.ita-icon-forms-64x64:after {width: 64px; height: 64px; background-image: url("./images/forms-64x64.png");}
.ita-icon-forms-32x32:after {width: 32px; height: 32px; background-image: url("./images/forms-32x32.png");}
.ita-icon-forms-128x128:after {width: 128px; height: 128px; background-image: url("./images/forms-128x128.png");}
.ita-icon-flag-red-48x48:after {width: 48px; height: 48px; background-image: url("./images/flag-red-48x48.png");}
.ita-icon-flag-red-24x24:after {width: 24px; height: 24px; background-image: url("./images/flag-red-24x24.png");}
.ita-icon-flag-red-32x32:after {width: 32px; height: 32px; background-image: url("./images/flag-red-32x32.png");}
.ita-icon-forms-24x24:after {width: 24px; height: 24px; background-image: url("./images/forms-24x24.png");}
.ita-icon-forms-16x16:after {width: 16px; height: 16px; background-image: url("./images/forms-16x16.png");}
.ita-icon-semaforo-64x64:after {width: 64px; height: 64px; background-image: url("./images/semaforo-64x64.png");}
.ita-icon-semaforo-128x128:after {width: 128px; height: 128px; background-image: url("./images/semaforo-128x128.png");}
.ita-icon-semaforo-32x32:after {width: 32px; height: 32px; background-image: url("./images/semaforo-32x32.png");}
.ita-icon-home-32x32:after {width: 32px; height: 32px; background-image: url("./images/home-32x32.png");}
.ita-icon-home-64x64:after {width: 64px; height: 64px; background-image: url("./images/home-64x64.png");}
.ita-icon-flag-red-16x16:after {width: 16px; height: 16px; background-image: url("./images/flag-red-16x16.png");}
.ita-icon-flag-green-48x48:after {width: 48px; height: 48px; background-image: url("./images/flag-green-48x48.png");}
.ita-icon-spreadsheet-16x16:after {width: 16px; height: 16px; background-image: url("./images/spreadsheet-16x16.png");}
.ita-icon-save-128x128:after {width: 128px; height: 128px; background-image: url("./images/save-128x128.png");}
.ita-icon-spreadsheet-24x24:after {width: 24px; height: 24px; background-image: url("./images/spreadsheet-24x24.png");}
.ita-icon-spreadsheet-32x32:after {width: 32px; height: 32px; background-image: url("./images/spreadsheet-32x32.png");}
.ita-icon-spreadsheet-64x64:after {width: 64px; height: 64px; background-image: url("./images/spreadsheet-64x64.png");}
.ita-icon-save-64x64:after {width: 64px; height: 64px; background-image: url("./images/save-64x64.png");}
.ita-icon-save-32x32:after {width: 32px; height: 32px; background-image: url("./images/save-32x32.png");}
.ita-icon-flag-green-24x24:after {width: 24px; height: 24px; background-image: url("./images/flag-green-24x24.png");}
.ita-icon-flag-green-32x32:after {width: 32px; height: 32px; background-image: url("./images/flag-green-32x32.png");}
.ita-icon-flag-green-16x16:after {width: 16px; height: 16px; background-image: url("./images/flag-green-16x16.png");}
.ita-icon-save-16x16:after {width: 16px; height: 16px; background-image: url("./images/save-16x16.png");}
.ita-icon-save-24x24:after {width: 24px; height: 24px; background-image: url("./images/save-24x24.png");}
.ita-icon-semaforo-blue-24x24:after {width: 24px; height: 24px; background-image: url("./images/semaforo-blue-24x24.png");}
.ita-icon-semaforo-blue-32x32:after {width: 32px; height: 32px; background-image: url("./images/semaforo-blue-32x32.png");}
.ita-icon-dictionary-16x16:after {width: 16px; height: 16px; background-image: url("./images/dictionary-16x16.png");}
.ita-icon-dictionary-24x24:after {width: 24px; height: 24px; background-image: url("./images/dictionary-24x24.png") !important;}
.ita-icon-bitmap-128x128:after {width: 128px; height: 128px; background-image: url("./images/bitmap-128x128.png");}
.ita-icon-bitmap-64x64:after {width: 64px; height: 64px; background-image: url("./images/bitmap-64x64.png");}
.ita-icon-bitmap-24x24:after {width: 24px; height: 24px; background-image: url("./images/bitmap-24x24.png") !important;}
.ita-icon-bitmap-32x32:after {width: 32px; height: 32px; background-image: url("./images/bitmap-32x32.png");}
.ita-icon-dictionary-32x32:after {width: 32px; height: 32px; background-image: url("./images/dictionary-32x32.png");}
.ita-icon-dictionary-64x64:after {width: 64px; height: 64px; background-image: url("./images/dictionary-64x64.png");}
.ita-icon-edit-32x32:after {width: 32px; height: 32px; background-image: url("./images/edit-32x32.png");}
.ita-icon-edit-128x128:after {width: 128px; height: 128px; background-image: url("./images/edit-128x128.png");}
.ita-icon-edit-24x24:after {width: 24px; height: 24px; background-image: url("./images/edit-24x24.png") !important;}
.ita-icon-edit-16x16:after {width: 16px; height: 16px; background-image: url("./images/edit-16x16.png");}
.ita-icon-dictionary-128x128:after {width: 128px; height: 128px; background-image: url("./images/dictionary-128x128.png");}
/* icons in tinymce (24x24) */
.ita-icon-bitmap-16x16:after {width: 16px; height: 16px; background-image: url("./images/bitmap-16x16.png");}
.ita-icon-google-maps-32x32:after {width: 32px; height: 32px; background-image: url("./images/google-maps-32x32.png");}
.ita-icon-arrow-red-sx-64x64:after {width: 64px; height: 64px; background-image: url("./images/Arrow-red-sx-64x64.png");}
.ita-icon-arrow-red-sx-32x32:after {width: 32px; height: 32px; background-image: url("./images/Arrow-red-sx-32x32.png");}
.ita-icon-arrow-red-dx-128x128:after {width: 128px; height: 128px; background-image: url("./images/Arrow-red-sx-128x128.png");}
.ita-icon-semaforo-blue-128x128:after {width: 128px; height: 128px; background-image: url("./images/semaforo-blue-128x128.png");}
.ita-icon-semaforo-blue-64x64:after {width: 64px; height: 64px; background-image: url("./images/semaforo-blue-64x64.png");}
.ita-icon-arrow-red-sx-24x24:after {width: 24px; height: 24px; background-image: url("./images/Arrow-red-sx-24x24.png");}
.ita-icon-arrow-red-sx-16x16:after {width: 16px; height: 16px; background-image: url("./images/Arrow-red-sx-16x16.png");}
.ita-icon-star-yellow-24x24:after {width: 24px; height: 24px; background-image: url("./images/Star-yellow-24x24.png");}
.ita-icon-star-yellow-16x16:after {width: 16px; height: 16px; background-image: url("./images/Star-yellow-16x16.png");}
.ita-icon-star-yellow-32x32:after {width: 32px; height: 32px; background-image: url("./images/Star-yellow-32x32.png");}
.ita-icon-star-yellow-64x64:after {width: 64px; height: 64px; background-image: url("./images/Star-yellow-64x64.png");}
.ita-icon-star-yellow-128x128:after {width: 128px; height: 128px; background-image: url("./images/Star-yellow-128x128.png");}
.ita-icon-spreadsheet-128x128:after {width: 128px; height: 128px; background-image: url("./images/spreadsheet-128x128.png");}
.ita-icon-pdftotif-16x16:after {width: 16px; height: 16px; background-image: url("./images/pdftotif-16x16.png");}
.ita-icon-sigillo-64x64:after {width: 64px; height: 64px; background-image: url("./images/sigillo-64x64.png");}
.ita-icon-sigillo-32x32:after {width: 32px; height: 32px; background-image: url("./images/sigillo-32x32.png");}
.ita-icon-sigillo-128x128:after {width: 128px; height: 128px; background-image: url("./images/sigillo-128x128.png");}
.ita-icon-sigillo-256x256:after {width: 256px; height: 256px; background-image: url("./images/sigillo-256x256.png");}
.ita-icon-codFis-24x24:after {width: 24px; height: 24px; background-image: url("./images/codFis-24x24.png");}
.ita-icon-codFis-16x16:after {width: 16px; height: 16px; background-image: url("./images/codFis-16x16.png");}
.ita-icon-sigillo-24x24:after {width: 24px; height: 24px; background-image: url("./images/sigillo-24x24.png");}
.ita-icon-sigillo-16x16:after {width: 16px; height: 16px; background-image: url("./images/sigillo-16x16.png");}
.ita-icon-download-24x24:after {width: 24px; height: 24px; background-image: url("./images/download-24x24.png");}
.ita-icon-download-16x16:after {width: 16px; height: 16px; background-image: url("./images/download-16x16.png");}
.ita-icon-download-32x32:after {width: 32px; height: 32px; background-image: url("./images/download-32x32.png");}
.ita-icon-download-64x64:after {width: 64px; height: 64px; background-image: url("./images/download-64x64.png");}
.ita-icon-download-128x128:after {width: 128px; height: 128px; background-image: url("./images/download-128x128.png");}
.ita-icon-codFis-32x32:after {width: 32px; height: 32px; background-image: url("./images/codFis-32x32.png");}
.ita-icon-codFis-64x64:after {width: 64px; height: 64px; background-image: url("./images/codFis-64x64.png");}
.ita-icon-shield-blue-32x32:after {width: 32px; height: 32px; background-image: url("./images/shield-blue-32x32.png");}
.ita-icon-shield-blue-64x64:after {width: 64px; height: 64px; background-image: url("./images/shield-blue-64x64.png");}
.ita-icon-shield-blue-24x24:after {width: 24px; height: 24px; background-image: url("./images/shield-blue-24x24.png");}
.ita-icon-shield-blue-16x16:after {width: 16px; height: 16px; background-image: url("./images/shield-blue-16x16.png");}
.ita-icon-shield-grey-128x128:after {width: 128px; height: 128px; background-image: url("./images/shield-grey-128x128.png");}
.ita-icon-shield-blue-128x128:after {width: 128px; height: 128px; background-image: url("./images/shield-blue-128x128.png");}
.ita-icon-divieto-16x16:after {width: 16px; height: 16px; background-image: url("./images/divieto-16x16.png");}
.ita-icon-divieto-128x128:after {width: 128px; height: 128px; background-image: url("./images/divieto-128x128.png");}
.ita-icon-codFis-128x128:after {width: 128px; height: 128px; background-image: url("./images/codFis-128x128.png");}
.ita-icon-divieto-64x64:after {width: 64px; height: 64px; background-image: url("./images/divieto-64x64.png");}
.ita-icon-divieto-32x32:after {width: 32px; height: 32px; background-image: url("./images/divieto-32x32.png");}
.ita-icon-divieto-24x24:after {width: 24px; height: 24px; background-image: url("./images/divieto-24x24.png");}
.ita-icon-upload-128x128:after {width: 128px; height: 128px; background-image: url("./images/upload-128x128.png");}
.ita-icon-upload-64x64:after {width: 64px; height: 64px; background-image: url("./images/upload-64x64.png");}
.ita-icon-document-open-128x128:after {width: 128px; height: 128px; background-image: url("./images/document-open-128x128.png");}
.ita-icon-document-open-64x64:after {width: 64px; height: 64px; background-image: url("./images/document-open-64x64.png");}
.ita-icon-misura-16x16:after {width: 16px; height: 16px; background-image: url("./images/misura-16x16.png");}
.ita-icon-misura-24x24:after {width: 24px; height: 24px; background-image: url("./images/misura-24x24.png");}
.ita-icon-misura-64x64:after {width: 64px; height: 64px; background-image: url("./images/misura-64x64.png");}
.ita-icon-misura-32x32:after {width: 32px; height: 32px; background-image: url("./images/misura-32x32.png");}
.ita-icon-document-open-32x32:after {width: 32px; height: 32px; background-image: url("./images/document-open-32x32.png");}
.ita-icon-document-open-24x24:after {width: 24px; height: 24px; background-image: url("./images/document-open-24x24.png");}
.ita-icon-pdftotif-32x32:after {width: 32px; height: 32px; background-image: url("./images/pdftotif-32x32.png");}
.ita-icon-pdftotif-24x24:after {width: 24px; height: 24px; background-image: url("./images/pdftotif-24x24.png");}
.ita-icon-pdftotif-64x64:after {width: 64px; height: 64px; background-image: url("./images/pdftotif-64x64.png");}
.ita-icon-pdftotif-128x128:after {width: 128px; height: 128px; background-image: url("./images/pdftotif-128x128.png");}
.ita-icon-document-open-16x16:after {width: 16px; height: 16px; background-image: url("./images/document-open-16x16.png");}
.ita-icon-misura-128x128:after {width: 128px; height: 128px; background-image: url("./images/misura-128x128.png");}
.ita-icon-yellow-alert-16x16:after {width: 16px; height: 16px; background-image: url("./images/yellow-alert-16x16.png");}
.ita-icon-pt-128x128:after {width: 128px; height: 128px; background-image: url("./images/pt-128x128.png");}
.ita-icon-pt-64x64:after {width: 64px; height: 64px; background-image: url("./images/pt-64x64.png");}
.ita-icon-upload-16x16:after {width: 16px; height: 16px; background-image: url("./images/upload-16x16.png");}
.ita-icon-upload-24x24:after {width: 24px; height: 24px; background-image: url("./images/upload-24x24.png");}
.ita-icon-upload-32x32:after {width: 32px; height: 32px; background-image: url("./images/upload-32x32.png");}
.ita-icon-pt-32x32:after {width: 32px; height: 32px; background-image: url("./images/pt-32x32.png");}
.ita-icon-pt-24x24:after {width: 24px; height: 24px; background-image: url("./images/pt-24x24.png");}
.ita-icon-yellow-alert-32x32:after {width: 32px; height: 32px; background-image: url("./images/yellow-alert-32x32.png");}
.ita-icon-yellow-alert-24x24:after {width: 24px; height: 24px; background-image: url("./images/yellow-alert-24x24.png");}
.ita-icon-yellow-alert-64x64:after {width: 64px; height: 64px; background-image: url("./images/yellow-alert-64x64.png");}
.ita-icon-yellow-alert-128x128:after {width: 128px; height: 128px; background-image: url("./images/yellow-alert-128x128.png");}
.ita-icon-pt-16x16:after {width: 16px; height: 16px; background-image: url("./images/pt-16x16.png");}
.ita-icon-red-mail-32x32:after {width: 32px; height: 32px; background-image: url("./images/red-mail-32x32.png");}
.ita-icon-power-16x16:after {width: 16px; height: 16px; background-image: url("./images/power-16x16.png");}
.ita-icon-check-orange-24x24:after {width: 24px; height: 24px; background-image: url("./images/Check-orange-24x24.png");}
.ita-icon-check-orange-16x16:after {width: 16px; height: 16px; background-image: url("./images/Check-orange-16x16.png");}
.ita-icon-check-orange-32x32:after {width: 32px; height: 32px; background-image: url("./images/Check-orange-32x32.png");}
.ita-icon-check-orange-64x64:after {width: 64px; height: 64px; background-image: url("./images/Check-orange-64x64.png");}
.ita-icon-check-orange-128x128:after {width: 128px; height: 128px; background-image: url("./images/Check-orange-128x128.png");}
.ita-icon-arrow-green-dx-128x128:after {width: 128px; height: 128px; background-image: url("./images/Arrow-green-dx-128x128.png");}
.ita-icon-arrow-green-dx-64x64:after {width: 64px; height: 64px; background-image: url("./images/Arrow-green-dx-64x64.png");}
.ita-icon-repubblica-128x128:after {width: 128px; height: 128px; background-image: url("./images/Repubblica-128x128.png");}
.ita-icon-arrow-green-dx-16x16:after {width: 16px; height: 16px; background-image: url("./images/Arrow-green-dx-16x16.png");}
.ita-icon-arrow-green-dx-24x24:after {width: 24px; height: 24px; background-image: url("./images/Arrow-green-dx-24x24.png");}
.ita-icon-arrow-green-dx-32x32:after {width: 32px; height: 32px; background-image: url("./images/Arrow-green-dx-32x32.png");}
.ita-icon-check-blue-16x16:after {width: 16px; height: 16px; background-image: url("./images/Check-blue-16x16.png");}
.ita-icon-check-blue-24x24:after {width: 24px; height: 24px; background-image: url("./images/Check-blue-24x24.png");}
.ita-icon-check-red-128x128:after {width: 128px; height: 128px; background-image: url("./images/Check-red-128x128.png");}
.ita-icon-check-red-64x64:after {width: 64px; height: 64px; background-image: url("./images/Check-red-64x64.png");}
.ita-icon-check-grey-16x16:after {width: 16px; height: 16px; background-image: url("./images/Check-grey-16x16.png");}
.ita-icon-check-grey-24x24:after {width: 24px; height: 24px; background-image: url("./images/Check-grey-24x24.png");}
.ita-icon-check-grey-32x32:after {width: 32px; height: 32px; background-image: url("./images/Check-grey-32x32.png");}
.ita-icon-check-red-32x32:after {width: 32px; height: 32px; background-image: url("./images/Check-red-32x32.png");}
.ita-icon-check-red-24x24:after {width: 24px; height: 24px; background-image: url("./images/Check-red-24x24.png");}
.ita-icon-check-blue-32x32:after {width: 32px; height: 32px; background-image: url("./images/Check-blue-32x32.png");}
.ita-icon-check-blue-64x64:after {width: 64px; height: 64px; background-image: url("./images/Check-blue-64x64.png");}
.ita-icon-check-blue-128x128:after {width: 128px; height: 128px; background-image: url("./images/Check-blue-128x128.png");}
.ita-icon-check-red-16x16:after {width: 16px; height: 16px; background-image: url("./images/Check-red-16x16.png");}
.ita-icon-repubblica-64x64:after {width: 64px; height: 64px; background-image: url("./images/Repubblica-64x64.png");}
.ita-icon-repubblica-32x32:after {width: 32px; height: 32px; background-image: url("./images/Repubblica-32x32.png");}
.ita-icon-pagdown-16x16:after {width: 16px; height: 16px; background-image: url("./images/pagdown-16x16.png");}
.ita-icon-list-24x24:after {width: 24px; height: 24px; background-image: url("./images/list-24x24.png");}
.ita-icon-pagdown-24x24:after {width: 24px; height: 24px; background-image: url("./images/pagdown-24x24.png");}
.ita-icon-pagup-16x16:after {width: 16px; height: 16px; background-image: url("./images/pagup-16x16.png");}
.ita-icon-pagup-24x24:after {width: 24px; height: 24px; background-image: url("./images/pagup-24x24.png");}
.ita-icon-clip-128x128:after {width: 128px; height: 128px; background-image: url("./images/Clip-128x128.png");}
.ita-icon-clip-64x64:after {width: 64px; height: 64px; background-image: url("./images/Clip-64x64.png");}
.ita-icon-apertagray-128x128:after {width: 128px; height: 128px; background-image: url("./images/apertagray-128x128.png");}
.ita-icon-clip-16x16:after {width: 16px; height: 16px; background-image: url("./images/Clip-16x16.png");}
.ita-icon-clip-24x24:after {width: 24px; height: 24px; background-image: url("./images/Clip-24x24.png");}
.ita-icon-clip-32x32:after {width: 32px; height: 32px; background-image: url("./images/Clip-32x32.png");}
.ita-icon-next-16x16:after {width: 16px; height: 16px; background-image: url("./images/next-16x16.png");}
.ita-icon-next-24x24:after {width: 24px; height: 24px; background-image: url("./images/next-24x24.png");}
.ita-icon-mail-opened-24x24:after {width: 24px; height: 24px; background-image: url("./images/Mail-opened-24x24.png");}
.ita-icon-mail-closed-24x24:after {width: 24px; height: 24px; background-image: url("./images/Mail-closed-24x24.png");}
.ita-icon-repubblica-16x16:after {width: 16px; height: 16px; background-image: url("./images/Repubblica-16x16.png");}
.ita-icon-repubblica-24x24:after {width: 24px; height: 24px; background-image: url("./images/Repubblica-24x24.png");}
.ita-icon-mail-opened-v-24x24:after {width: 24px; height: 24px; background-image: url("./images/Mail-opened-v-24x24.png");}
.ita-icon-mail-closed-i-24x24:after {width: 24px; height: 24px; background-image: url("./images/Mail-closed-i-24x24.png");}
.ita-icon-prev-16x16:after {width: 16px; height: 16px; background-image: url("./images/prev-16x16.png");}
.ita-icon-prev-24x24:after {width: 24px; height: 24px; background-image: url("./images/prev-24x24.png");}
.ita-icon-mail-closed-v-24x24:after {width: 24px; height: 24px; background-image: url("./images/Mail-closed-v-24x24.png");}
.ita-icon-red-mail-24x24:after {width: 24px; height: 24px; background-image: url("./images/red-mail-24x24.png");}
.ita-icon-check-grey-64x64:after {width: 64px; height: 64px; background-image: url("./images/Check-grey-64x64.png");}
.ita-icon-check-grey-128x128:after {width: 128px; height: 128px; background-image: url("./images/Check-grey-128x128.png");}
.ita-icon-register-document-24x24:after {width: 24px; height: 24px; background-image: url("./images/Register-document-24x24.png");}
.ita-icon-register-document-16x16:after {width: 16px; height: 16px; background-image: url("./images/Register-document-16x16.png");}
.ita-icon-comment-128x128:after {width: 128px; height: 128px; background-image: url("./images/comment-128x128.png");}
.ita-icon-comment-new-16x16:after {width: 16px; height: 16px; background-image: url("./images/comment-new-16x16.png");}
.ita-icon-comment-new-128x128:after {width: 128px; height: 128px; background-image: url("./images/comment-new-128x128.png");}
.ita-icon-comment-edit-128x128:after {width: 128px; height: 128px; background-image: url("./images/comment-edit-128x128.png");}
.ita-icon-open-folder-128x128:after {width: 128px; height: 128px; background-image: url("./images/Open-folder-128x128.png");}
.ita-icon-open-folder-64x64:after {width: 64px; height: 64px; background-image: url("./images/Open-folder-64x64.png");}
.ita-icon-check-green-32x32:after {width: 32px; height: 32px; background-image: url("./images/Check-green-32x32.png");}
.ita-icon-check-green-24x24:after {width: 24px; height: 24px; background-image: url("./images/Check-green-24x24.png");}
.ita-icon-check-green-64x64:after {width: 64px; height: 64px; background-image: url("./images/Check-green-64x64.png");}
.ita-icon-check-green-128x128:after {width: 128px; height: 128px; background-image: url("./images/Check-green-128x128.png");}
.ita-icon-mail-16x16:after {width: 16px; height: 16px; background-image: url("./images/Mail-16x16.png");}
.ita-icon-check-green-16x16:after {width: 16px; height: 16px; background-image: url("./images/Check-green-16x16.png");}
.ita-icon-check-yellow-128x128:after {width: 128px; height: 128px; background-image: url("./images/Check-yellow-128x128.png");}
.ita-icon-check-yellow-16x16:after {width: 16px; height: 16px; background-image: url("./images/Check-yellow-16x16.png");}
.ita-icon-check-yellow-24x24:after {width: 24px; height: 24px; background-image: url("./images/Check-yellow-24x24.png");}
.ita-icon-check-yellow-32x32:after {width: 32px; height: 32px; background-image: url("./images/Check-yellow-32x32.png");}
.ita-icon-check-yellow-64x64:after {width: 64px; height: 64px; background-image: url("./images/Check-yellow-64x64.png");}
.ita-icon-mail-24x24:after {width: 24px; height: 24px; background-image: url("./images/Mail-24x24.png");}
.ita-icon-mail-32x32:after {width: 32px; height: 32px; background-image: url("./images/Mail-32x32.png");}
.ita-icon-sub-folder-128x128:after {width: 128px; height: 128px; background-image: url("./images/Sub-folder-128x128.png");}
.ita-icon-open-folder-16x16:after {width: 16px; height: 16px; background-image: url("./images/Open-folder-16x16.png");}
.ita-icon-open-folder-24x24:after {width: 24px; height: 24px; background-image: url("./images/Open-folder-24x24.png");}
.ita-icon-open-folder-32x32:after {width: 32px; height: 32px; background-image: url("./images/Open-folder-32x32.png");}
.ita-icon-sub-folder-64x64:after {width: 64px; height: 64px; background-image: url("./images/Sub-folder-64x64.png");}
.ita-icon-sub-folder-32x32:after {width: 32px; height: 32px; background-image: url("./images/Sub-folder-32x32.png");}
.ita-icon-mail-64x64:after {width: 64px; height: 64px; background-image: url("./images/Mail-64x64.png");}
.ita-icon-mail-128x128:after {width: 128px; height: 128px; background-image: url("./images/Mail-128x128.png");}
.ita-icon-sub-folder-16x16:after {width: 16px; height: 16px; background-image: url("./images/Sub-folder-16x16.png");}
.ita-icon-sub-folder-24x24:after {width: 24px; height: 24px; background-image: url("./images/Sub-folder-24x24.png");}
.ita-icon-apertagray-64x64:after {width: 64px; height: 64px; background-image: url("./images/apertagray-64x64.png");}
.ita-icon-mail-closed-c-24x24:after {width: 24px; height: 24px; background-image: url("./images/Mail-closed-c-24x24.png");}
.ita-icon-play-24x24:after {width: 24px; height: 24px; background-image: url("./images/play-24x24.png");}
.ita-icon-apertagray-32x32:after {width: 32px; height: 32px; background-image: url("./images/apertagray-32x32.png");}
.ita-icon-play-32x32:after {width: 32px; height: 32px; background-image: url("./images/play-32x32.png");}
.ita-icon-play-64x64:after {width: 64px; height: 64px; background-image: url("./images/play-64x64.png");}
.ita-icon-play-128x128:after {width: 128px; height: 128px; background-image: url("./images/play-128x128.png");}
.ita-icon-rtf-128x128:after {width: 128px; height: 128px; background-image: url("./images/rtf-128x128.png");}
.ita-icon-rtf-64x64:after {width: 64px; height: 64px; background-image: url("./images/rtf-64x64.png");}
.ita-icon-document-128x128:after {width: 128px; height: 128px; background-image: url("./images/document-128x128.png");}
.ita-icon-rtf-16x16:after {width: 16px; height: 16px; background-image: url("./images/rtf-16x16.png");}
.ita-icon-rtf-24x24:after {width: 24px; height: 24px; background-image: url("./images/rtf-24x24.png");}
.ita-icon-rtf-32x32:after {width: 32px; height: 32px; background-image: url("./images/rtf-32x32.png");}
.ita-icon-pdf-16x16:after {width: 16px; height: 16px; background-image: url("./images/pdf-16x16.png");}
.ita-icon-pdf-24x24:after {width: 24px; height: 24px; background-image: url("./images/pdf-24x24.png");}
.ita-icon-word-64x64:after {width: 64px; height: 64px; background-image: url("./images/word-64x64.png");}
.ita-icon-word-128x128:after {width: 128px; height: 128px; background-image: url("./images/word-128x128.png");}
.ita-icon-excel-16x16:after {width: 16px; height: 16px; background-image: url("./images/excel-16x16.png");}
.ita-icon-excel-24x24:after {width: 24px; height: 24px; background-image: url("./images/excel-24x24.png");}
.ita-icon-word-32x32:after {width: 32px; height: 32px; background-image: url("./images/word-32x32.png");}
.ita-icon-word-24x24:after {width: 24px; height: 24px; background-image: url("./images/word-24x24.png");}
.ita-icon-pdf-32x32:after {width: 32px; height: 32px; background-image: url("./images/pdf-32x32.png");}
.ita-icon-pdf-64x64:after {width: 64px; height: 64px; background-image: url("./images/pdf-64x64.png");}
.ita-icon-pdf-128x128:after {width: 128px; height: 128px; background-image: url("./images/pdf-128x128.png");}
.ita-icon-word-16x16:after {width: 16px; height: 16px; background-image: url("./images/word-16x16.png");}
.ita-icon-document-64x64:after {width: 64px; height: 64px; background-image: url("./images/document-64x64.png");}
.ita-icon-document-32x32:after {width: 32px; height: 32px; background-image: url("./images/document-32x32.png");}
.ita-icon-chart-24x24:after {width: 24px; height: 24px; background-image: url("./images/chart-24x24.png");}
.ita-icon-chart-16x16:after {width: 16px; height: 16px; background-image: url("./images/chart-16x16.png");}
.ita-icon-chart-32x32:after {width: 32px; height: 32px; background-image: url("./images/chart-32x32.png");}
.ita-icon-chart-64x64:after {width: 64px; height: 64px; background-image: url("./images/chart-64x64.png");}
.ita-icon-chart-128x128:after {width: 128px; height: 128px; background-image: url("./images/chart-128x128.png");}
.ita-icon-ingranaggio-16x16:after {width: 16px; height: 16px; background-image: url("./images/ingranaggio-16x16.png");}
.ita-icon-ingranaggio-24x24:after {width: 24px; height: 24px; background-image: url("./images/ingranaggio-24x24.png");}
.ita-icon-stock-mail-32x32:after {width: 32px; height: 32px; background-image: url("./images/stock-mail-32x32.png");}
.ita-icon-stock-mail-24x24:after {width: 24px; height: 24px; background-image: url("./images/stock-mail-24x24.png");}
.ita-icon-ingranaggio-64x64:after {width: 64px; height: 64px; background-image: url("./images/ingranaggio-64x64.png");}
.ita-icon-ingranaggio-32x32:after {width: 32px; height: 32px; background-image: url("./images/ingranaggio-32x32.png");}
.ita-icon-print-16x16:after {width: 16px; height: 16px; background-image: url("./images/print-16x16.png");}
.ita-icon-print-24x24:after {width: 24px; height: 24px; background-image: url("./images/print-24x24.png");}
.ita-icon-cerca-64x64:after {width: 64px; height: 64px; background-image: url("./images/cerca-64x64.png");}
.ita-icon-cerca-128x128:after {width: 128px; height: 128px; background-image: url("./images/cerca-128x128.png");}
.ita-icon-document-16x16:after {width: 16px; height: 16px; background-image: url("./images/document-16x16.png");}
.ita-icon-document-24x24:after {width: 24px; height: 24px; background-image: url("./images/document-24x24.png");}
.ita-icon-cerca-32x32:after {width: 32px; height: 32px; background-image: url("./images/cerca-32x32.png");}
.ita-icon-cerca-24x24:after {width: 24px; height: 24px; background-image: url("./images/cerca-24x24.png");}
.ita-icon-print-32x32:after {width: 32px; height: 32px; background-image: url("./images/print-32x32.png");}
.ita-icon-print-64x64:after {width: 64px; height: 64px; background-image: url("./images/print-64x64.png");}
.ita-icon-print-128x128:after {width: 128px; height: 128px; background-image: url("./images/print-128x128.png");}
.ita-icon-cerca-16x16:after {width: 16px; height: 16px; background-image: url("./images/cerca-16x16.png");}
.ita-icon-excel-32x32:after {width: 32px; height: 32px; background-image: url("./images/excel-32x32.png");}
.ita-icon-play-16x16:after {width: 16px; height: 16px; background-image: url("./images/play-16x16.png");}
.ita-icon-apertagreen-128x128:after {width: 128px; height: 128px; background-image: url("./images/apertagreen-128x128.png");}
.ita-icon-apertagray-16x16:after {width: 16px; height: 16px; background-image: url("./images/apertagray-16x16.png");}
.ita-icon-apertagreen-64x64:after {width: 64px; height: 64px; background-image: url("./images/apertagreen-64x64.png");}
.ita-icon-apertagreen-32x32:after {width: 32px; height: 32px; background-image: url("./images/apertagreen-32x32.png");}
.ita-icon-excel-64x64:after {width: 64px; height: 64px; background-image: url("./images/excel-64x64.png");}
.ita-icon-apertagray-24x24:after {width: 24px; height: 24px; background-image: url("./images/apertagray-24x24.png");}
.ita-icon-inoltrata-128x128:after {width: 128px; height: 128px; background-image: url("./images/inoltrata-128x128.png");}
.ita-icon-rotate-left-128x128:after {width: 128px; height: 128px; background-image: url("./images/Rotate-left-128x128.png");}
.ita-icon-inoltrata-24x24:after {width: 24px; height: 24px; background-image: url("./images/inoltrata-24x24.png");}
.ita-icon-inoltrata-32x32:after {width: 32px; height: 32px; background-image: url("./images/inoltrata-32x32.png");}
.ita-icon-inoltrata-64x64:after {width: 64px; height: 64px; background-image: url("./images/inoltrata-64x64.png");}
.ita-icon-apertagreen-24x24:after {width: 24px; height: 24px; background-image: url("./images/apertagreen-24x24.png");}
.ita-icon-apertagreen-16x16:after {width: 16px; height: 16px; background-image: url("./images/apertagreen-16x16.png");}
.ita-icon-chiusagreen-64x64:after {width: 64px; height: 64px; background-image: url("./images/chiusagreen-64x64.png");}
.ita-icon-chiusagreen-32x32:after {width: 32px; height: 32px; background-image: url("./images/chiusagreen-32x32.png");}
.ita-icon-chiusagreen-16x16:after {width: 16px; height: 16px; background-image: url("./images/chiusagreen-16x16.png");}
.ita-icon-chiusagreen-24x24:after {width: 24px; height: 24px; background-image: url("./images/chiusagreen-24x24.png");}
.ita-icon-chiusagreen-128x128:after {width: 128px; height: 128px; background-image: url("./images/chiusagreen-128x128.png");}
.ita-icon-chiusagray-16x16:after {width: 16px; height: 16px; background-image: url("./images/chiusagray-16x16.png");}
.ita-icon-chiusagray-128x128:after {width: 128px; height: 128px; background-image: url("./images/chiusagray-128x128.png");}
.ita-icon-chiusagray-64x64:after {width: 64px; height: 64px; background-image: url("./images/chiusagray-64x64.png");}
.ita-icon-chiusagray-32x32:after {width: 32px; height: 32px; background-image: url("./images/chiusagray-32x32.png");}
.ita-icon-chiusagray-24x24:after {width: 24px; height: 24px; background-image: url("./images/chiusagray-24x24.png");}
.ita-icon-rotate-left-64x64:after {width: 64px; height: 64px; background-image: url("./images/Rotate-left-64x64.png");}
.ita-icon-inoltrata-16x16:after {width: 16px; height: 16px; background-image: url("./images/inoltrata-16x16.png");}
.ita-icon-new-64x64:after {width: 64px; height: 64px; background-image: url("./images/new-64x64.png");}
.ita-icon-new-32x32:after {width: 32px; height: 32px; background-image: url("./images/new-32x32.png");}
.ita-icon-new-128x128:after {width: 128px; height: 128px; background-image: url("./images/new-128x128.png");}
.ita-icon-cerca-doc-16x16:after {width: 16px; height: 16px; background-image: url("./images/cerca-doc-16x16.png");}
.ita-icon-cerca-doc-32x32:after {width: 32px; height: 32px; background-image: url("./images/cerca-doc-32x32.png");}
.ita-icon-cerca-doc-24x24:after {width: 24px; height: 24px; background-image: url("./images/cerca-doc-24x24.png");}
.ita-icon-new-24x24:after {width: 24px; height: 24px; background-image: url("./images/new-24x24.png");}
.ita-icon-new-16x16:after {width: 16px; height: 16px; background-image: url("./images/new-16x16.png");}
.ita-icon-view-tree-16x16:after {width: 16px; height: 16px; background-image: url("./images/view-tree-16x16.png");}
.ita-icon-excel-128x128:after {width: 128px; height: 128px; background-image: url("./images/excel-128x128.png");}
.ita-icon-view-tree-24x24:after {width: 24px; height: 24px; background-image: url("./images/view-tree-24x24.png");}
.ita-icon-view-tree-32x32:after {width: 32px; height: 32px; background-image: url("./images/view-tree-32x32.png");}
.ita-icon-view-tree-128x128:after {width: 128px; height: 128px; background-image: url("./images/view-tree-128x128.png");}
.ita-icon-view-tree-64x64:after {width: 64px; height: 64px; background-image: url("./images/view-tree-64x64.png");}
.ita-icon-rotate-left-32x32:after {width: 32px; height: 32px; background-image: url("./images/Rotate-left-32x32.png");}
.ita-icon-cerca-doc-64x64:after {width: 64px; height: 64px; background-image: url("./images/cerca-doc-64x64.png");}
.ita-icon-rotate-right-24x24:after {width: 24px; height: 24px; background-image: url("./images/Rotate-right-24x24.png");}
.ita-icon-cerca-doc-128x128:after {width: 128px; height: 128px; background-image: url("./images/cerca-doc-128x128.png");}
.ita-icon-rotate-right-64x64:after {width: 64px; height: 64px; background-image: url("./images/Rotate-right-64x64.png");}
.ita-icon-rotate-right-128x128:after {width: 128px; height: 128px; background-image: url("./images/Rotate-right-128x128.png");}
.ita-icon-rotate-left-16x16:after {width: 16px; height: 16px; background-image: url("./images/Rotate-left-16x16.png");}
.ita-icon-rotate-left-24x24:after {width: 24px; height: 24px; background-image: url("./images/Rotate-left-24x24.png");}
.ita-icon-rotate-right-32x32:after {width: 32px; height: 32px; background-image: url("./images/Rotate-right-32x32.png");}
.ita-icon-rotate-right-16x16:after {width: 16px; height: 16px; background-image: url("./images/Rotate-right-16x16.png");}
.ita-icon-bullet-red-24x24:after {width: 24px; height: 24px; background-image: url("./images/bullet-red-24x24.png");}
.ita-icon-bullet-gray-24x24:after {width: 24px; height: 24px; background-image: url("./images/bullet-gray-24x24.png");}
.ita-icon-bullet-yellow-16x16:after {width: 16px; height: 16px; background-image: url("./images/bullet-yellow-16x16.png");}
.ita-icon-bullet-yellow-24x24:after {width: 24px; height: 24px; background-image: url("./images/bullet-yellow-24x24.png");}
.ita-icon-bullet-red-16x16:after {width: 16px; height: 16px; background-image: url("./images/bullet-red-16x16.png");}
.ita-icon-bullet-gray-16x16:after {width: 16px; height: 16px; background-image: url("./images/bullet-gray-16x16.png");}
.ita-icon-bullet-orange-24x24:after {width: 24px; height: 24px; background-image: url("./images/bullet-orange-24x24.png");}
.ita-icon-register-document-32x32:after {width: 32px; height: 32px; background-image: url("./images/Register-document-32x32.png");}
.ita-icon-register-document-64x64:after {width: 64px; height: 64px; background-image: url("./images/Register-document-64x64.png");}
.ita-icon-register-document-128x128:after {width: 128px; height: 128px; background-image: url("./images/Register-document-128x128.png");}
.ita-icon-bullet-orange-16x16:after {width: 16px; height: 16px; background-image: url("./images/bullet-orange-16x16.png");}
.ita-icon-bullet-green-24x24:after {width: 24px; height: 24px; background-image: url("./images/bullet-green-24x24.png");}
.ita-icon-bullet-green-16x16:after {width: 16px; height: 16px; background-image: url("./images/bullet-green-16x16.png");}
.ita-icon-scanner-64x64:after {width: 64px; height: 64px; background-image: url("./images/Scanner-64x64.png");}
.ita-icon-bullet-blue-16x16:after {width: 16px; height: 16px; background-image: url("./images/bullet-blue-16x16.png");}
.ita-icon-scanner-128x128:after {width: 128px; height: 128px; background-image: url("./images/Scanner-128x128.png");}
.ita-icon-gridprint:after {width: 16px; height: 16px; background-image: url("./images/GridPrint-16x16.png");}
.ita-icon-excel:after {width: 16px; height: 16px; background-image: url("./images/MSExcel-16x16.png");}
.ita-icon-scanner-32x32:after {width: 32px; height: 32px; background-image: url("./images/Scanner-32x32.png");}
.ita-icon-scanner-24x24:after {width: 24px; height: 24px; background-image: url("./images/Scanner-24x24.png");}
.ita-icon-scanner-16x16:after {width: 16px; height: 16px; background-image: url("./images/Scanner-16x16.png");}

.ita-icon-euro-blue-16x16:after { width: 16px; height: 16px; background-image: url("./images/euro-blue-16x16.png"); }
.ita-icon-euro-blue-24x24:after { width: 24px; height: 24px; background-image: url("./images/euro-blue-24x24.png") !important; }
.ita-icon-euro-blue-32x32:after { width: 32px; height: 32px; background-image: url("./images/euro-blue-32x32.png"); }
.ita-icon-euro-blue-64x64:after { width: 64px; height: 64px;; background-image: url("./images/euro-blue-64x64.png"); }
.ita-icon-euro-blue-128x128:after { width: 128px; height: 128px; background-image: url("./images/euro-blue-128x128.png"); }

.ita-icon-map-position-32x32:after {width: 32px; height: 32px; background-image: url("./images/map-position-32x32.png");}
.ita-icon-map-position-24x24:after {width: 24px; height: 24px; background-image: url("./images/map-position-24x24.png");}
.ita-icon-map-position-16x16:after {width: 16px; height: 16px; background-image: url("./images/map-position-16x16.png");}

.ita-icon-bullet-blue-24x24:after {width: 24px; height: 24px; background-image: url("./images/bullet-blue-24x24.png");}