.body {padding-top:2px;}

.legenda {
    margin-left:0px;
    margin-top: 2px;
    font-weight: bold;
    font-size: 1em;
    font-family:arial, tahoma, verdana;
    color:#FF6600;
}

.infocamere {
    margin-left:0px;
    margin-top: 2px;
    font-weight: bold;
    font-size: 1em;
    font-family:arial, tahoma, verdana;
    color:green;
}

.datiImpresa {
    font-size: 1.5em;
    text-decoration: underline;
    color:blue;
    margin-left:5px;
}

.datoImpresa {
    margin-left:5px;
}

.ImgAnnulla{
    width:25px;
    heigth:25px;
}

.ImgMail{
    width:25px;
    heigth:25px;
}

.DivImgAzione{
    display:inline-block;
    float: left;
    padding: 5px;
}

.TitoloPratica{
    font-size: 1.0em;
    color: darkblue;
    text-align: center;
    padding: 1em;
    margin-top: 5px;
}

.testoWait{
    padding-top: 20px;
    font-size: large;

}

.imgWait{
    position:absolute;
    top:30px;
    right:120px;
    height:120;
    width:120px;
    border:0px;
}

.imgUpl{
    position:absolute;
    top:30px;
    right:100px;
    height:100;
    width:100px;
    border:0px;
}

.imgInf{
    position:absolute;
    top:30px;
    right:160px;
    height:100;
    width:100px;
    border:0px;
}

.divImmagineAzione {
    float: left;
    width: 105px;
    height: 105px;
}

.hrefAllegato {
    text-decoration: underline;
}


.descrizioneAzione {
    margin: 6px 0;
    color: darkblue;
    font-weight: bold;
    line-height: 15px;
}

.Infocamere {
    width: 300px;
}

.divAction {
    margin: 0px;
    overflow: visible;
    padding: 0px;
    position: relative;
}

.boxInfo {
    display: inline-block;
    margin: 0px;
    padding-left: 8px;
    padding-right: 2px;
    position: relative;
    margin-bottom: 2px;
}

.boxAzioni {
    height: 160px;    
    display: inline-block;
    float: left;
    margin: 0px;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 2px;
    width: 18%;    
    margin-bottom: 2px;
}

.boxInfoPratica{
    height: 41px;
    overflow: auto;
    margin-bottom:2px;
    padding:4px;
}

.AnnullaRichiesta {
    float: right;

}

.Mail {
    display: inline-block;
    float: right;
    vertical-align: middle;
    padding-right: 80px;
}

.InfoUtente {
    text-align: right;
    font-size: 1.2em;
    color:navy;
}

.InfoRuolo {
    margin: .6em 0;
    text-align: right;
}

.DescrizioniInfoPratica{
    float:left;
}

.NumeroPratica{
    color: darkblue;    
    font-size: 1.2em;
    margin-top: 5px;
}

.StatoPratica{
    color: darkred;
    font-size: 1.1em;    
}

.LabelIconaPratica{
    vertical-align: super;
}
.LabelIconaMail{
    vertical-align: super;
}

.InfoPasso,.Informativa{
    border: 1px solid red;
}

.DescrizionePasso{
    height: 41px;
    font-size: 1.2em;
    color: darkblue;
    padding-left: 5px;
    overflow: hidden;
    margin-top: 13px;
    display: inline-block;
}

.IconFatto {
    display: inline-block;
    float: right;
    vertical-align: middle;
}

.boxDescrizionePasso{
    width: 100%;
    height: 42px;
    margin-bottom:2px;     
    overflow: hidden;
}

.pratica{
    margin-top: 15px;
}


.ElencoPassi{
    margin: auto;
    height: 64px;
    overflow: hidden;
    display: inline-block;
}

.divIndietro{
    float:left;
    width: 15%;
    display: inline-block;
}

.divAvanti{
    float:right;
    width: 15%;
    display: inline-block;
}

.NavButtonHome{
    height: 56px;
    float:left;
    width: 60px;

}
.NavButtonLeft{
    width: 40px;
    height: 56px;
    float:left;
}

.NavButtonEnd{
    height: 56px;
    float:right;
    width: 60px;
}

.NavButtonRight{
    width: 40px;
    height: 56px;
    float:right;
}

.iconaPrecedente{
    border:0px;     
    width: 34px;
    height: 50px;
}

.iconaSuccessivo{
    border:0px;     
    width: 34px;
    height: 50px;
}

.iconaHome{
    border:0px;     
    width: 50px;
    height: 50px;
}

.iconaEnd{
    border:0px; 
    width: 50px;
    height: 50px;
}


.divAllegati-content{
    width:2000px;
    height: 50px;
}


.TitoloBoxAllegati{
    text-align: center;
    padding-bottom: 2px;
    height: 20px;
}

.divAllegato{
    display:inline-block;
    padding: 0px;
    margin-left: 2px;
    border-color: gray;
    width:auto;
}

.divIconaVediAllegato{
    display:inline-block;
    float: left;
    padding: 2px;
    margin: 0px;
}

.divIconaCancellaAllegato{
    display:inline-block;
    float: left;    
    padding: 2px;
    margin: 0px;
}

.divRisposte{
    float:  left;
    margin: 6px;
    height:50px;
    width: 105px;
}

.divRisposta{
    display: inline-block;
    overflow: hidden;
    font-size: 25px;
    font-family:arial, tahoma, verdana;
    padding: 0px;
    margin-left: 4px;
    height:40px;
    width: 40px;
}

.rispostaData{
    border-color: blue;
}

.divIndice{
    display:inline-block;
    float:left;
    width: 65px;
    padding: 0px;
    margin-left:3px;
    height: 56px;

}

.divSequenzaIndice{
    height: 26px;
}

.divIconaIndice{
    width: 61px;
    margin:2px;
    height: 26px;
}

.PassoSelezionato{
    border: 2px solid #0099ff;
}

.PassoMail{
    background: navy;
    color: white;
    font-weight: bold;
}

.PassoObbligatorio{
    /* background: red; */
    background: #a20000;
    color: white;
    font-weight: bold;
}
.PassoNonObbligatorio{
    background: orange;
    /* color: white; */
    color: #222;
    font-weight: bold;
}
.PassoDomanda{
    background: blue;
    color: white;
    font-weight: bold;
}

.PassoEseguito{
    /* background: green; */
    background: #006000;
    color: white;
    font-weight: bold;
}

.divInfoAllegati{
    margin-top: 10px;
    overflow: auto;
    height: 90px;
}

.InfoAllegati{
    font-family: tahoma;
    font-size: small;
    width: 1000px;
}

.TitoloInfoAllegati{
    text-decoration: underline;
    color:navy;
    font-family: fantasy;
    font-size: medium;
    padding-bottom: 3px;
}

.divLegenda{
    display:inline-block;
    width: 100%;
    height: 30px;
    overflow: auto;
}

.divColoreRosso{
    float:left;
    width: 20px;
    height: 20px;
    background: #a20000;
    margin-right: 5px;

}
.divColoreVerde{
    float:left;
    width: 20px;
    height: 20px;
    background: #006000;
}
.divColoreBlue{
    float:left;
    width: 20px;
    height: 20px;
    background: blue;
}
.divColoreArancione{
    float:left;
    width: 20px;
    height: 20px;
    background: orange;
}
.divColoreNavy{
    float:left;
    width: 20px;
    height: 20px;
    background: navy;
}
.divTesto{
    float:left;
    margin-right: 15px;
}

.buttonlink {
    border-width: 2px 4px 4px 2px;
    text-align: center;
    /*font-weight: 900;*/
    padding: .8em;
    display: block;
}

.buttonlink + div { vertical-align: middle; }

.buttonlink > .ImmagineAzione {
    width: 32px;
    height: auto;
    vertical-align: middle;
}

.buttonlink:hover {
    border-color: #666 #bbb #bbb #666;
}

#praMup-NavigatorePassi > * { vertical-align: middle; }
#praMup-NavigatorePassi > .italsoft-button { margin-bottom: 0; }
.boxInfo { padding: 1em; }

.divContenitore {
    margin-bottom: 1em;
}

.ita-box-raccolta { padding: 0 .8em .8em; }
.ita-box-raccolta > .ita-header-raccolta { padding: 6px .8em; margin: 0 -.8em .8em; }

.divContenitore, #divInfo { display: none !important; }

.suap--info-pratica {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 2em;
}

@media (max-width: 991px) {
    .ita-field { display: block; position: relative; }
    .ita-field > label { text-align: left !important; }
    .ita-field > input:not([type="checkbox"]):not([type="radio"]), .ita-field > select, .ita-field > textarea { width: 100%; }
    .ita-field > select { height: 4rem; }
    .ita-field > input + *:not(label) { position: absolute; right: 0; margin: .15em .5em 0 0; font-size: 1.6em !important; }
}

@media (max-width: 767px) {
    .suap--info-pratica {
        padding: .8em 1em;
        margin: -10px 0 0;
    }

    .suap--info-pratica h5,
    .suap--info-pratica div p { display: inline-block; margin: 0; font-size: 13px; vertical-align: top; min-width: 100px; }
}