/* 
    Document   : style
    Created on : 04-Lug-2011, 15.58.14
    Author     : Andimo Panetta
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.infoTabs li{
    font-size: 0.73em;
}

.infoLabel{
    display: inline-block;
    float:left;
    font-size: 1em;
    color: darkblue;
    width: 150px;
    font-weight: bold;
}

.infoTermini{
    font-size: 18px;
    color: darkblue;
    font-family: arial;
    border: 1px solid black;
    padding: 5px;
}

.descInquadramento{
    font-size: 18px;
    color: darkblue;
    font-family: arial;
}

.infoText,
.infoTextCenter {
    display: block;
}

.infoText {
    color: darkblue;
    font-size: 0.85em;
}

.infoTextCenter + .infoText {
    margin-top: .6em;
}

.infoMod{
    font-size: 0.85em;
}
