#main-tab{
    font-size: 85%;
}

.settAppartenenza{
   
    font-family:Arial, Helvetica, Sans-Serif;
    font-size:12px;
    font-weight:bold;
    color:blue;
    text-decoration:none;
    text-align: center;
}
.tipiAtt{
    font-family:fantasy;
    font-size:12px;
    font-weight:bold;
    color:blue;
    text-decoration:none;
    text-align: center;
}

.divRicerca{
    display: inline-block;
}

.campiSearch{
    display: inline-block;
    float: left;
    margin-right: 4px;
    
}

.buttonSearch{
    width: 25px;
    height: 19px;
    
}
