!ws/MPay/config/config.sample.ini
!lib/itaJava/itaANPR/keystore/cacerts
.buildpath
.idea
.project
.settings/.jsdtscope
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
Config.*.inc.php
Config.env.*.inc.php
Config.inc.php
Config.local.inc.php
Config.mobile.inc.php
Config_Jesi.inc.php
apps/Accessi/resources.custom
apps/Bdap/naoenadbg.php
apps/Bdap/naoenadbg.php
apps/Bdap/out/*
apps/Bdap/ssl_cf/*
apps/Bdap/ws/*
apps/CityBase/pdfjs/tmp/
apps/Interni/
apps/Macerie/errors.log
bin/composerExtract
build/
cli/config/
cms/.buildpath
cms/.project
cms/data/
cms/sitemap.xml
composer.lock
config.env.*/
config.local/
config.params.local/
config/
config_Jesi/
daemon/config/
daemon/config_old/autostart.ini
doc/
extra/SmartAgent/SmartAgent.tgz
extra/misc/START.EXE
extra/scriptomatic/itaFileMonitor/data/
forms/Interni/
hooks/hooks.ini
lib/RSSDK/config.php
lib/bin/composerExtract
lib/itaJava/itaANPR/keystore/*
lib/itaJava/itaDSS/conf/
lib/itaJava/itaJ4SignDSS/conf/
lib/itaJava/itaJRGenerator/ItaReportGenerator.properties
lib/itaPHPPDFA/config
lib/jqueryui-1.10.3/themes/nao-dev/*
lock
loginBanner.html
nbproject/
public/libs/jqueryui-1.10.3/themes/nao-theme/*
public/libs/jqueryui-1.10.3/themes/nao-theme/*
public/loginBanner.html
reports/Gafiere/gfmCCP_896PA/Resources/enti
reports/Gafiere/gfmCosapPAGOPA/enti
reports/Cds/cdsCCP_PPA/enti
reports/Cds/cdsCCP_PPA/Resources/enti
reports/Cds/cdsCCP_AAR/enti
reports/Cds/cdsCCP_AAR/Resources/enti
reports/PagoPA/Resources/enti
reports/Cds/cdsCCP_AAR/Resources/enti
reports/Cds/cdsCCP_AAR/enti
reports/Cds/cdsCCP_PPA/Resources/enti
reports/Cds/cdsCCP_PPA/enti
reports/PagoPA/enti
reports/ZTL/ztlCCP_896PA/Resources/enti
reports/ZTL/ztlPAGOPA/enti
test/sandbox_config/db_cityware.ini
tmp/
var/
vendor/
vendor/
webTemp/
ws/Config.inc.php
ws/Config.sportello.inc.php
ws/MPay/config/*
ws/AAR/config/*
wsrest/Config.inc.php
wsrest/Config.inc_old.php
wsrest/routes/
wsrest/routes_old/